<!DOCTYPE HTML>
<html>
<head>
	<meta name="description" content="Manfred Xu, Software Engineer based in Western Australia.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Manfred Xu</title>
	<link rel="stylesheet" href="app.css">
	<link href="app.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body class="is-desktop is-1200px">
  <div id="output-container"><%- renderedOutput %><script src="app.js"></script>
  </div>
</body>
</html>
