body {
	line-height: 1.75em;
	font-size: 10pt;
	letter-spacing: 0;
}
h1 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
	font-size: 2.25em;
	line-height: 1.25em;
}
h2 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
}
h3 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
}
h4 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
}
h5 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
}
h6 {
	font-size: 1.25em;
	margin: 0 0 0.4em 0;
}
header {
	margin: 0 0 2em 0;
	> span {
		font-size: 1.25em;
	}
}
footer {
	margin: 2.5em 0 0 0;
	> p {
		font-size: 1.25em;
	}
}
form {
	input[type=text] {
		margin: 0.25em 0 0.25em 0;
	}
	input[type=password] {
		margin: 0.25em 0 0.25em 0;
	}
	select {
		margin: 0.25em 0 0.25em 0;
	}
	textarea {
		margin: 0.25em 0 0.25em 0;
	}
}
section {
	clear: both;
}
article {
	clear: both;
}
.button {
	text-align: center;
	font-size: 1.2em;
	width: 100%;
	padding: 1em 0;
	margin: 0.25em 0 0.25em 0;
}
.box {
	padding: 30px 20px;
	margin: 0 0 20px 0 !important;
	h3 {
		margin-bottom: 0.25em;
	}
	.image-centered {
		margin-bottom: 1em;
	}
	.image-full {
		position: relative;
		left: 20px;
		top: 20px;
		margin: -50px 0 50px -40px;
		width: auto;
	}
}
.wrapper {
	padding: 2.5em 15px 2.5em 15px;
	text-align: center;
}
.wrapper-first {
	padding-top: 5em;
}
#copyright {
	font-size: 1em;
}
ul.social {
	padding: 1em 0.5em 0 0.5em;
	li {
		top: 0 !important;
		margin: 0.5em 0.5em 0.5em 0.5em;
	}
}
.wrapper-style4 .row-special {
	margin: 2.5em 0 0 0;
	padding: 2.5em 0 2em 0;
}
#nav a {
	padding: 0.5em;
}
#top .me {
	width: 70%;
	height: auto;
	margin: 0 auto 1.75em auto;
}