//colors
$color_suva_gray_approx: #888;
$color_boston_blue_approx: #3b95c6;
$color_matisse_approx: #1b75a6;
$color_masala_approx: #3e3e3e;
$color_shark_approx: #282828;
$color_pink_swan_approx: #bbb;
$black_5: rgba(0,0,0,0.05);
$white_2_5: rgba(255,255,255,0.025);
$color_seagull_approx: #74caee;
$color_fuscous_gray_approx: #555;
$white: #fff;
$black_50: rgba(0,0,0,0.5);
$color_viking_approx: #61b8db;
$color_curious_blue_approx: rgba(48,141,196,1);
$color_blumine_approx: #135c86;
$white_75: rgba(255,255,255,0.75);
$color_malibu_approx: #76cdf0;
$color_tuatara_approx: #393939;
$color_heavy_metal_approx: rgba(45,45,45,1);
$white_20: rgba(255,255,255,0.2);
$color_tundora_approx: #444;
$black_20: rgba(0,0,0,0.2);
$white_10: rgba(255,255,255,0.1);
$color_azure_approx: #3c5a98;
$color_picton_blue_approx: #2daae4;
$color_blaze_orange_approx: #f2600b;
$color_hibiscus_approx: #c4376b;
$color_bahama_blue_approx: #006599;
$color_bismark_approx: #51718a;
$color_thunderbird_approx: #da2713;
$black_15: rgba(0,0,0,0.15);
$black_10: rgba(0,0,0,0.1);
$alabaster: #fafafa;
$wild_sand: #f4f4f4;
$color_mine_shaft_approx: #303030;
$color_mountain_mist_approx: #999;
$color_rangoon_green_approx: #181818;
$color_storm_dust_approx: #666;
$color_tapa_approx: #777;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

//urls
$url_0: url(../images/bg.png);
//$url_1: url(../images/social.png);

//@extend-elements
//original selectors
//body, input, textarea
.clearfix {
  clear: both;
}

#work > div > div > div > section > div {
  min-width: 1200px;
}

#contact > div > div:nth-child(1) > div > form > div > div:nth-child(4) > div > input.submittedForm.button {
  :hover {
    cursor: default;
  }
}

#output-container > div #top .me {
  border: 4px solid black;
}

#top > div > div.\34 u > span.me.image.image-full {
  display:block;
}

#work > div > div > div > section > div.image.image-centered.skills-centered {
  display: table;
  margin: 0 auto;
}

%extend_1 {
  font-family: $font_0, $font_1;
  line-height: 1.85em;
  color: $color_suva_gray_approx;
  font-weight: 300;
}

#work > div > div > div > section > div.image.image-centered > img {
  width: 200px;
  height: 200px;
  margin: 0 0 0 0;
  float: left; 
}

#contact > div > div.row.row-special > div > ul {
  li {
    a {
      i {
        font-style: normal;
        margin-top: 15px;
        color: #232B2E;
      }
    }
  }
}

//original selectors
//form input[type=text], form input[type=password], form select, form textarea
%extend_2 {
  width: 100%;
  border: 0;
  padding: 0.75em;
  font-size: 1em;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 8px;
  background: $color_shark_approx;
  color: $color_pink_swan_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 0 2px 5px 0 $black_5, 0 1px 0 0 $white_2_5;
}


* {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
}
body {
  @extend %extend_1;
}
input {
  @extend %extend_1;
}
textarea {
  @extend %extend_1;
}
#output-container {
  > div {
    a {
      color: $color_boston_blue_approx;
      text-decoration: underline;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: color .2s ease-in-out;
      &:hover {
        color: $color_matisse_approx !important;
      }
    }
    strong {
      font-weight: 600;
      color: $color_masala_approx;
    }
    b {
      font-weight: 600;
      color: $color_masala_approx;
    }
    h1 {
      color: $color_masala_approx;
      font-weight: 300;
      a {
        text-decoration: none;
        color: inherit;
      }
      strong {
        font-weight: 700;
      }
    }
    h2 {
      color: $color_masala_approx;
      font-weight: 700;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    h3 {
      color: $color_masala_approx;
      font-weight: 700;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    h4 {
      color: $color_masala_approx;
      font-weight: 700;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    h5 {
      color: $color_masala_approx;
      font-weight: 700;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    h6 {
      color: $color_masala_approx;
      font-weight: 700;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    em {
      font-style: italic;
    }
    i {
      font-style: italic;
    }
    form {
      input {
      }
      select {
        @extend %extend_2;
        &:focus {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 2px 5px 0 $black_5, 0 1px 0 0 $white_2_5, 0 0 2px 2px $color_seagull_approx;
        }
      }
      textarea {
        @extend %extend_2;
        height: 15em;
        &:focus {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 2px 5px 0 $black_5, 0 1px 0 0 $white_2_5, 0 0 2px 2px $color_seagull_approx;
        }
      }
      input[type=text] {
        @extend %extend_2;
        &:focus {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 2px 5px 0 $black_5, 0 1px 0 0 $white_2_5, 0 0 2px 2px $color_seagull_approx;
        }
      }
      input[type=password] {
        @extend %extend_2;
        &:focus {
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 2px 5px 0 $black_5, 0 1px 0 0 $white_2_5, 0 0 2px 2px $color_seagull_approx;
        }
      }
      .formerize-placeholder {
        color: $color_fuscous_gray_approx !important;
      }
      ::-webkit-input-placeholder {
        color: $color_fuscous_gray_approx !important;
      }
      :-moz-placeholder {
        color: $color_fuscous_gray_approx !important;
      }
      ::-moz-placeholder {
        color: $color_fuscous_gray_approx !important;
      }
      :-ms-input-placeholder {
        color: $color_fuscous_gray_approx !important;
      }
      ::-moz-focus-inner {
        border: 0;
      }
    }
    p {
      margin-bottom: 2em;
    }
    ul {
      margin-bottom: 2em;
      &.social {
        cursor: default;
        margin: 0;
        li {
          position: relative;
          display: inline-block;
          margin: 0.25em;
          top: 0;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 6px;
          overflow: hidden;
          background: $color_tundora_approx;
          background-image: linear-gradient(to bottom, rgba(0,0,0,0), $black_20);
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: background-color .2s ease-in-out, top .2s ease-in-out;
          //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
          box-shadow: inset 0 0 0 1px $color_shark_approx, inset 0 2px 1px 0 $white_10;
          a {
            display: block;
            position: relative;
            // background: $url_1;
            width: 48px;
            height: 48px;
            text-indent: -9999em;
            outline: 0;
          }
          &.facebook {
            a {
              background-position: 0 0;
            }
            &:hover {
              background-color: $color_azure_approx;
            }
          }
          &.twitter {
            a {
              background-position: -48px 0;
            }
            &:hover {
              background-color: $color_picton_blue_approx;
            }
          }
          &.rss {
            a {
              background-position: -96px 0;
            }
            &:hover {
              background-color: $color_blaze_orange_approx;
            }
          }
          &.dribbble {
            a {
              background-position: -144px 0;
              text-indent: 0;
            }
            &:hover {
              background-color: $color_hibiscus_approx;
            }
          }
          &.linkedin {
            a {
              background-position: -192px 0;
              text-indent: 0;
            }
            &:hover {
              background-color: $color_bahama_blue_approx;
            }
          }
          &.tumblr {
            a {
              background-position: -240px 0;
              text-indent: 0;
            }
            &:hover {
              background-color: $color_bismark_approx;
            }
          }
          &.googleplus {
            a {
              background-position: -288px 0;
              text-indent: 0;
            }
            &:hover {
              background-color: $color_thunderbird_approx;
            }
          }
          &:hover {
            top: -5px;
          }
          &:active {
            top: 0;
          }
        }
      }
    }
    ol {
      margin-bottom: 2em;
    }
    dl {
      margin-bottom: 2em;
    }
    table {
      margin-bottom: 2em;
    }
    section {
      margin-bottom: 3em;
      &:last-child {
        margin-bottom: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
    article {
      margin-bottom: 3em;
      &:last-child {
        margin-bottom: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
    .image {
      display: inline-block;
      img {
        display: block;
        width: 100%;
      }
    }
    .image-full {
      display: block;
      width: 100%;
      margin: 0 0 2em 0;
    }
    .image-left {
      float: left;
      margin: 0 2em 2em 0;
    }
    .image-centered {
      display: block;
      margin: 0 0 2em 0;
      img {
        margin: 0 auto;
        width: auto;
      }
    }
    .button {
      position: relative;
      display: inline-block;
      color: $white;
      text-decoration: none;
      font-weight: 700;
      border: 0;
      outline: 0;
      cursor: pointer;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 8px;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px -1px 0.5px $black_50;
      overflow: hidden;
      background: $color_viking_approx;
      background-image: linear-gradient(to bottom, rgba(97,184,219,0), $color_curious_blue_approx);
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 0 0 1px $color_blumine_approx, inset 0 2px 1px 0 $white_75;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: background-color .2s ease-in-out;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $url_0;
      }
      &:hover {
        background-color: $color_malibu_approx;
        color: $white !important;
      }
      &:active {
        background-image: linear-gradient(to bottom, $color_curious_blue_approx, rgba(77,164,199,0));
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 0 0 1px $color_blumine_approx, inset 0 -2px 1px 0 $white_75;
        top: 1px;
      }
    }
    .button-alt {
      background-color: $color_tuatara_approx;
      background-image: linear-gradient(to bottom, rgba(50,50,50,0), $color_heavy_metal_approx);
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 0 0 1px $color_shark_approx, inset 0 2px 1px 0 $white_20;
      &:hover {
        background-color: $color_tundora_approx;
      }
      &:active {
        background-image: linear-gradient(to bottom, $color_heavy_metal_approx, rgba(50,50,50,0));
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 0 0 1px $color_shark_approx, inset 0 -2px 1px 0 $white_20;
      }
    }
    .button-big {
    }
    .box {
      background: $white;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 0 0 1px $black_15, 0 2px 3px 0 $black_10;
      text-align: center;
      .image-full {
        position: relative;
      }
    }
    .wrapper {
      background-image: $url_0;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: inset 0 1px 0 0 $black_5, inset 0 2px 3px 0 $black_10;
    }
    .wrapper-first {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: none;
    }
    .wrapper-style1 {
      background-image: none;
      background-color: $white;
    }
    .wrapper-style2 {
      background-color: $alabaster;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 1px 1px 0 $white;
    }
    .wrapper-style3 {
      background-color: $wild_sand;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 1px 1px 0 $white;
    }
    .wrapper-style4 {
      background-color: $color_mine_shaft_approx;
      color: $color_mountain_mist_approx;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: -1px -1px 0 $color_rangoon_green_approx;
      h1 {
        color: $white;
      }
      h2 {
        color: $white;
      }
      h3 {
        color: $white;
      }
      h4 {
        color: $white;
      }
      h5 {
        color: $white;
      }
      h6 {
        color: $white;
      }
      .row-special {
        border-top: solid 1px $black_50;
        border-bottom: solid 1px $black_50;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: inset 0 1px 0 0 $white_10, 0 1px 0 0 $white_10;
      }
    }
    #nav {
      background-color: $color_shark_approx;
      text-align: center;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
      cursor: default;
      ul {
        margin: 0;
      }
      li {
        display: inline-block;
      }
      a {
        position: relative;
        display: block;
        color: $white;
        text-decoration: none;
        outline: 0;
        &:hover {
          color: $white !important;
        }
        &.active:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -0.6em;
          left: 50%;
          margin-left: -0.75em;
          border-left: solid 0.75em transparent;
          border-right: solid 0.75em transparent;
          border-top: solid 0.6em $color_shark_approx;
        }
      }
    }
    #top {
      .me {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        overflow: hidden;
      }
      p a {
        color: inherit;
      }
      > div > div.\34 u {
        float: left
      }
    }
    #copyright {
      color: $color_storm_dust_approx;
      a {
        color: inherit;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: color .2s ease-in-out;
        &:hover {
          color: $color_tapa_approx;
        }
      }
    }
    br.clear {
      clear: both;
    }
  }
}