.clearfix {
  clear: both; }

#work > div > div > div > section > div {
  min-width: 1200px; }

#contact > div > div:nth-child(1) > div > form > div > div:nth-child(4) > div > input.submittedForm.button :hover {
  cursor: default; }

#output-container > div #top .me {
  border: 4px solid black; }

#top > div > div.\34 u > span.me.image.image-full {
  display: block; }

#work > div > div > div > section > div.image.image-centered.skills-centered {
  display: table;
  margin: 0 auto; }

body, input, textarea {
  font-family: Open Sans, sans-serif;
  line-height: 1.85em;
  color: #888;
  font-weight: 300; }

#work > div > div > div > section > div.image.image-centered > img {
  width: 200px;
  height: 200px;
  margin: 0 0 0 0;
  float: left; }

#contact > div > div.row.row-special > div > ul li a i {
  font-style: normal;
  margin-top: 15px;
  color: #232B2E; }

#output-container > div form select, #output-container > div form textarea, #output-container > div form input[type=text], #output-container > div form input[type=password] {
  width: 100%;
  border: 0;
  padding: 0.75em;
  font-size: 1em;
  border-radius: 8px;
  background: #282828;
  color: #bbb;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025); }

* {
  box-sizing: border-box; }

#output-container > div a {
  color: #3b95c6;
  text-decoration: underline;
  transition: color .2s ease-in-out; }
  #output-container > div a:hover {
    color: #1b75a6 !important; }

#output-container > div strong {
  font-weight: 600;
  color: #3e3e3e; }

#output-container > div b {
  font-weight: 600;
  color: #3e3e3e; }

#output-container > div h1 {
  color: #3e3e3e;
  font-weight: 300; }
  #output-container > div h1 a {
    text-decoration: none;
    color: inherit; }
  #output-container > div h1 strong {
    font-weight: 700; }

#output-container > div h2 {
  color: #3e3e3e;
  font-weight: 700; }
  #output-container > div h2 a {
    text-decoration: none;
    color: inherit; }

#output-container > div h3 {
  color: #3e3e3e;
  font-weight: 700; }
  #output-container > div h3 a {
    text-decoration: none;
    color: inherit; }

#output-container > div h4 {
  color: #3e3e3e;
  font-weight: 700; }
  #output-container > div h4 a {
    text-decoration: none;
    color: inherit; }

#output-container > div h5 {
  color: #3e3e3e;
  font-weight: 700; }
  #output-container > div h5 a {
    text-decoration: none;
    color: inherit; }

#output-container > div h6 {
  color: #3e3e3e;
  font-weight: 700; }
  #output-container > div h6 a {
    text-decoration: none;
    color: inherit; }

#output-container > div em {
  font-style: italic; }

#output-container > div i {
  font-style: italic; }

#output-container > div form select:focus {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025), 0 0 2px 2px #74caee; }

#output-container > div form textarea {
  height: 15em; }
  #output-container > div form textarea:focus {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025), 0 0 2px 2px #74caee; }

#output-container > div form input[type=text]:focus {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025), 0 0 2px 2px #74caee; }

#output-container > div form input[type=password]:focus {
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(255, 255, 255, 0.025), 0 0 2px 2px #74caee; }

#output-container > div form .formerize-placeholder {
  color: #555 !important; }

#output-container > div form ::-webkit-input-placeholder {
  color: #555 !important; }

#output-container > div form :-moz-placeholder {
  color: #555 !important; }

#output-container > div form ::-moz-placeholder {
  color: #555 !important; }

#output-container > div form :-ms-input-placeholder {
  color: #555 !important; }

#output-container > div form ::-moz-focus-inner {
  border: 0; }

#output-container > div p {
  margin-bottom: 2em; }

#output-container > div ul {
  margin-bottom: 2em; }
  #output-container > div ul.social {
    cursor: default;
    margin: 0; }
    #output-container > div ul.social li {
      position: relative;
      display: inline-block;
      margin: 0.25em;
      top: 0;
      border-radius: 6px;
      overflow: hidden;
      background: #444;
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
      transition: background-color .2s ease-in-out, top .2s ease-in-out;
      box-shadow: inset 0 0 0 1px #282828, inset 0 2px 1px 0 rgba(255, 255, 255, 0.1); }
      #output-container > div ul.social li a {
        display: block;
        position: relative;
        width: 48px;
        height: 48px;
        text-indent: -9999em;
        outline: 0; }
      #output-container > div ul.social li.facebook a {
        background-position: 0 0; }
      #output-container > div ul.social li.facebook:hover {
        background-color: #3c5a98; }
      #output-container > div ul.social li.twitter a {
        background-position: -48px 0; }
      #output-container > div ul.social li.twitter:hover {
        background-color: #2daae4; }
      #output-container > div ul.social li.rss a {
        background-position: -96px 0; }
      #output-container > div ul.social li.rss:hover {
        background-color: #f2600b; }
      #output-container > div ul.social li.dribbble a {
        background-position: -144px 0;
        text-indent: 0; }
      #output-container > div ul.social li.dribbble:hover {
        background-color: #c4376b; }
      #output-container > div ul.social li.linkedin a {
        background-position: -192px 0;
        text-indent: 0; }
      #output-container > div ul.social li.linkedin:hover {
        background-color: #006599; }
      #output-container > div ul.social li.tumblr a {
        background-position: -240px 0;
        text-indent: 0; }
      #output-container > div ul.social li.tumblr:hover {
        background-color: #51718a; }
      #output-container > div ul.social li.googleplus a {
        background-position: -288px 0;
        text-indent: 0; }
      #output-container > div ul.social li.googleplus:hover {
        background-color: #da2713; }
      #output-container > div ul.social li:hover {
        top: -5px; }
      #output-container > div ul.social li:active {
        top: 0; }

#output-container > div ol {
  margin-bottom: 2em; }

#output-container > div dl {
  margin-bottom: 2em; }

#output-container > div table {
  margin-bottom: 2em; }

#output-container > div section {
  margin-bottom: 3em; }
  #output-container > div section:last-child {
    margin-bottom: 0; }
  #output-container > div section > :last-child {
    margin-bottom: 0; }

#output-container > div article {
  margin-bottom: 3em; }
  #output-container > div article:last-child {
    margin-bottom: 0; }
  #output-container > div article > :last-child {
    margin-bottom: 0; }

#output-container > div .image {
  display: inline-block; }
  #output-container > div .image img {
    display: block;
    width: 100%; }

#output-container > div .image-full {
  display: block;
  width: 100%;
  margin: 0 0 2em 0; }

#output-container > div .image-left {
  float: left;
  margin: 0 2em 2em 0; }

#output-container > div .image-centered {
  display: block;
  margin: 0 0 2em 0; }
  #output-container > div .image-centered img {
    margin: 0 auto;
    width: auto; }

#output-container > div .button {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #61b8db;
  background-image: linear-gradient(to bottom, rgba(97, 184, 219, 0), #308dc4);
  box-shadow: inset 0 0 0 1px #135c86, inset 0 2px 1px 0 rgba(255, 255, 255, 0.75);
  transition: background-color .2s ease-in-out; }
  #output-container > div .button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(fc8cac7fd4d7fdb1d37804580f8f66bf.png); }
  #output-container > div .button:hover {
    background-color: #76cdf0;
    color: #fff !important; }
  #output-container > div .button:active {
    background-image: linear-gradient(to bottom, #308dc4, rgba(77, 164, 199, 0));
    box-shadow: inset 0 0 0 1px #135c86, inset 0 -2px 1px 0 rgba(255, 255, 255, 0.75);
    top: 1px; }

#output-container > div .button-alt {
  background-color: #393939;
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0), #2d2d2d);
  box-shadow: inset 0 0 0 1px #282828, inset 0 2px 1px 0 rgba(255, 255, 255, 0.2); }
  #output-container > div .button-alt:hover {
    background-color: #444; }
  #output-container > div .button-alt:active {
    background-image: linear-gradient(to bottom, #2d2d2d, rgba(50, 50, 50, 0));
    box-shadow: inset 0 0 0 1px #282828, inset 0 -2px 1px 0 rgba(255, 255, 255, 0.2); }

#output-container > div .box {
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: center; }
  #output-container > div .box .image-full {
    position: relative; }

#output-container > div .wrapper {
  background-image: url(fc8cac7fd4d7fdb1d37804580f8f66bf.png);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 2px 3px 0 rgba(0, 0, 0, 0.1); }

#output-container > div .wrapper-first {
  box-shadow: none; }

#output-container > div .wrapper-style1 {
  background-image: none;
  background-color: #fff; }

#output-container > div .wrapper-style2 {
  background-color: #fafafa;
  text-shadow: 1px 1px 0 #fff; }

#output-container > div .wrapper-style3 {
  background-color: #f4f4f4;
  text-shadow: 1px 1px 0 #fff; }

#output-container > div .wrapper-style4 {
  background-color: #303030;
  color: #999;
  text-shadow: -1px -1px 0 #181818; }
  #output-container > div .wrapper-style4 h1 {
    color: #fff; }
  #output-container > div .wrapper-style4 h2 {
    color: #fff; }
  #output-container > div .wrapper-style4 h3 {
    color: #fff; }
  #output-container > div .wrapper-style4 h4 {
    color: #fff; }
  #output-container > div .wrapper-style4 h5 {
    color: #fff; }
  #output-container > div .wrapper-style4 h6 {
    color: #fff; }
  #output-container > div .wrapper-style4 .row-special {
    border-top: solid 1px rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.1); }

#output-container > div #nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default; }
  #output-container > div #nav ul {
    margin: 0; }
  #output-container > div #nav li {
    display: inline-block; }
  #output-container > div #nav a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0; }
    #output-container > div #nav a:hover {
      color: #fff !important; }
    #output-container > div #nav a.active:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -0.6em;
      left: 50%;
      margin-left: -0.75em;
      border-left: solid 0.75em transparent;
      border-right: solid 0.75em transparent;
      border-top: solid 0.6em #282828; }

#output-container > div #top .me {
  border-radius: 50%;
  overflow: hidden; }

#output-container > div #top p a {
  color: inherit; }

#output-container > div #top > div > div.\34 u {
  float: left; }

#output-container > div #copyright {
  color: #666; }
  #output-container > div #copyright a {
    color: inherit;
    transition: color .2s ease-in-out; }
    #output-container > div #copyright a:hover {
      color: #777; }

#output-container > div br.clear {
  clear: both; }
/*
	Miniport 1.0 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body {
  font-size: 13pt;
  min-width: 1200px;
  margin: 0px; }

#contact > div > div:nth-child(1) > div > form > div > div:nth-child(1) > div:nth-child(1) {
  width: 392px;
  float: left;
  margin-bottom: 16px; }

#contact > div > div:nth-child(1) > div > form > div > div:nth-child(1) > div:nth-child(2) {
  width: 392px;
  float: right; }

#contact > div > div:nth-child(1) > div > form > div > div:nth-child(2) > div {
  margin-top: 16px;
  margin-bottom: 16px; }

#output-container > div {
  /*********************************************************************************/
  /* Wrappers                                                                      */
  /*********************************************************************************/
  /*********************************************************************************/
  /* Nav                                                                           */
  /*********************************************************************************/
  /*********************************************************************************/
  /* Articles                                                                      */
  /*********************************************************************************/
  /*********************************************************************************/
  /* Copyright                                                                     */
  /*********************************************************************************/ }
  #output-container > div h1 {
    font-size: 3.25em;
    letter-spacing: -0.025em; }
  #output-container > div h2 {
    font-size: 2em;
    letter-spacing: -0.015em; }
  #output-container > div h3 {
    font-size: 1.5em;
    letter-spacing: -0.015em; }
  #output-container > div h1, #output-container > div h2, #output-container > div h3, #output-container > div h4, #output-container > div h5, #output-container > div h6 {
    margin: 0 0 0.75em 0; }
  #output-container > div header {
    margin: 0 0 3em 0; }
  #output-container > div header > span {
    font-size: 1.25em; }
  #output-container > div footer {
    margin: 3em 0 0 0; }
  #output-container > div footer > p {
    font-size: 1.25em; }
  #output-container > div form .button {
    margin: 0 0.5em 0 0.5em; }
  #output-container > div .button {
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em; }
  #output-container > div .button-big {
    font-size: 1.5em;
    letter-spacing: -0.025em; }
  #output-container > div .box {
    padding: 2em 2em 2.5em 2em; }
  #output-container > div .box h3 {
    margin-bottom: 0.25em;
    clear: both; }
  #output-container > div .box .image-centered {
    margin-bottom: 1.25em; }
  #output-container > div .box .image-full {
    position: relative;
    left: 2em;
    top: 2em;
    margin: -4em 0 4em -4em;
    width: auto; }
  #output-container > div .wrapper {
    padding: 8em 0 8em 0;
    text-align: center; }
  #output-container > div .wrapper-first {
    /* padding-top: 12em; */ }
  #output-container > div .wrapper-style4 .row-special {
    margin: 4em 0 0 0;
    padding: 4em 0 4em 0; }
  #output-container > div #nav .active {
    background: #1a1a1a; }
  #output-container > div #nav a:hover {
    background: #383838;
    cursor: pointer; }
  #output-container > div #nav a:active {
    background: #484848; }
  #output-container > div #nav a {
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color .2s ease-in-out;
    color: #fff; }
  #output-container > div #top {
    text-align: left; }
  #output-container > div #top .me {
    width: 20em;
    height: 20em;
    margin: 0px 0px 0px 10px; }
  #output-container > div #top > div > div.\38 u {
    margin-left: 390px; }
  #output-container > div #top h1 {
    margin-top: 0.35em; }
  #output-container > div #top p {
    font-size: 1.5em;
    line-height: 1.75em; }
  #output-container > div #contact {
    width: 800px;
    margin: 0 auto; }
  #output-container > div #contact footer {
    font-size: 0.9em; }
  #output-container > div #copyright {
    font-size: 1em; }

/*# sourceMappingURL=app.css.map*/